<!DOCTYPE html>
<html>
  <head>
    <title>Flask Hello World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Flask Hello World</h1>
      </div>
    </header>
    <div class="container">
        <h2>{{ greeting }}</h2>
    </div>
    <div class="container">
        Basic information:
        <ul>
            <li>IP Address: {{ ipAddress }}</li>
        </ul>
    </div>
  </body>
</html >
